@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .spin-hero {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .spin-hero {
    animation: spin-hero infinite 20s linear;
  }
}

@keyframes spin-hero {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.rotating-text {
  animation: rotation 20s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.split-bckg {
  background: linear-gradient(
    to right,
    #ffffff 0%,
    #ffffff 50%,
    #000000 50%,
    #000000 100%
  );
  height: 95vh;
}

.split-h1 {
  display: inline-block;
  margin: 0;
  line-height: 1em;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 112%;
  background: linear-gradient(to right, #000000 50%, #FDEFBC 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (min-width: 768px) {
  .split-h1{
    font-size: 55px;
  }
}
@media only screen and (min-width: 1280px) {
  .split-h1{
    font-size: 62px;
  }
}

.button-slant {
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.button-slant-label {
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);  
    display: inline-block;
}